/***************************/
/****** Ink overrides ******/
/***************************/

table.columns td.sub-columns.social{
	padding-right: 0;
	text-align: right;
	vertical-align: middle;
}
img{
	display: inline-block;
	float: none;
}
.footer p{
	text-align: center;
}
/***********************/
/****** my styles ******/
/***********************/

body{
	background-color: #eeeeee;
}
.header, .main, .footer{
	background-color: #ffffff;
	text-align: center;
}